{% extends 'main/base.html' %}
{% block title %}
Главная
{% endblock %}

{% block content %}
  <h1>Главная</h1>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <p><img src="https://sun7-14.userapi.com/s/v1/ig2/c_pd60OKYosxE4DxnQYfN4mVCtRAlC6FWNnpkiN_mlZfjJ70M3JRVRu6sKZ86L_whXB9FKSBb3JHj41lpC6I-pqZ.jpg?size=200x200&quality=95&crop=181,3,472,472&ava=1"  style="width: 150px; height: 150px; border-radius: 50%; --avatar-rich-stroke-width: 4px; --avatar-rich-nft-frame-width: 4px;"></p>
        <h2 class="fw-normal">Сустретов Антон</h2>
        <p>Написал этот сайт</p>
        <p><a class="btn btn-secondary" href="https://vk.com/lllllantoxalllll">Открыть ВК</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <p><img src="https://play-lh.googleusercontent.com/MfOmDw_wbHCE7D1ZKSsAbzMojq1cHsEH7CxBye2nQ0w6WeAf9NWaRIMBONgxl-eyW9PG"  style="width: 150px; height: 150px; border-radius: 50%; --avatar-rich-stroke-width: 4px; --avatar-rich-nft-frame-width: 4px;"></p>
        <h2 class="fw-normal">Steam</h2>
        <p>Страница в Steam</p>
        <p><a class="btn btn-secondary" href="https://steamcommunity.com/profiles/76561198963846908/">Открыть Steam</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <p><img src="https://sun7-13.userapi.com/s/v1/ig2/mqGFvP6I8feK-jRPU89-AdBLCroWZGEI-e9lKd2YVudkVdY6cmViWRtosb67uhagIR0qli4_Mm9hnvVUVe9YsRzQ.jpg?size=200x200&quality=95&crop=273,453,1227,1227&ava=1"  style="width: 150px; height: 150px; border-radius: 50%; --avatar-rich-stroke-width: 4px; --avatar-rich-nft-frame-width: 4px;"></p>
        <h2 class="fw-normal">Артём Фёдоров</h2>
        <p>Отвлекал меня от процесса разработки</p>
        <p><a class="btn btn-secondary" href="https://vk.com/kaef_3216">Открыть ВК</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Подписка</h4>
          </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">50 РУБ<small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Ничего вам за это не будет</li>
                <li>Просто подарите деньги</li>
              </ul>
              <a href="https://oplata.qiwi.com/form?invoiceUid=9f16c507-ffdc-4d9c-8abc-f9d51c18add9" type="button" class="w-100 btn btn-lg btn-primary">Купить</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Подписка+</h4>
          </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">100Р<small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Могу сказать "Спасибо!"</li>
                <li>Подарите деньги за спасибо</li>
              </ul>
              <a href="https://oplata.qiwi.com/form?invoiceUid=7a67f268-947a-44a8-96e8-c776c760a7ab" type="button" class="w-100 btn btn-lg btn-primary">Купить</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Подписка++</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">200Р<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>100% скажу спасибо</li>
              <li>Подарите деньги за спасибо</li>
            </ul>
            <a href="https://oplata.qiwi.com/form?invoiceUid=93ed4054-b764-4cfe-823b-6775bf6f56df" type="button" class="w-100 btn btn-lg btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
